<div class="container">
    <div class="row">
        <div class="col-md-5">
            <table class="table table-bordered">
                <tr>
                    <th>Sl No</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Answer</th>
                    <th>Notification</th>
                    <th>Contact type</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>johnDoegmail.com</td>
                    <td>book</td>
                    <td>yes</td>
                    <td>Phone</td>
                </tr>
                
            </table>
        </div>
    </div>
</div>
